# If not running interactively, don't do anything (leave this at the top of this file)
# [[ $- != *i* ]] && return

{{ if eq .chezmoi.os "linux" -}}
# All the default Omarchy aliases and functions
# (don't mess with these directly, just overwrite them here!)
source ~/.local/share/omarchy/default/bash/rc
{{ end -}}

# Add your own exports, aliases, and functions here.
#
# Make an alias for invoking commands you use constantly
# alias p='python'

# mise: activate runtime version manager
eval "$(mise activate bash)"

# Machine-local overrides (not tracked by chezmoi)
[[ -f ~/.bashrc.local ]] && source ~/.bashrc.local
